@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes applePop {
  0%,
  100% {
    transform: scale(1);
    background-color: #d1d5db;
  }
  50% {
    transform: scale(1.5);
    background-color: #3b82f6;
  }
}
