@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .input {
    @apply px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
  .btn.primary {
    @apply bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition;
  }
}

@keyframes applePop {
  0%,
  100% {
    transform: scale(1);
    background-color: #d1d5db; /* gray-300 */
  }
  50% {
    transform: scale(1.35);
    background-color: #3b82f6; /* blue-600 */
  }
}
